
.footer {
    position: relative;
    background-color: #131735;
    padding: 20px 0 24px;
    overflow: hidden
}
.footer:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 140px;
    height: 180px;
    background: url(../images/footer-right-triangle.png) no-repeat;
}
.footer:before{
    content: '';
    position: absolute;
    top: 0;
    left: -5px;
    display: block;
    width: 140px;
    height: 220px;
    background: url(../images/footer-left-triangle.png) no-repeat bottom;
}

.footer-content {
    max-width: 1180px;
    margin: 0 auto
}

.privacy-link {
    cursor: pointer;
    padding-right: 10px;
    color: #9b9b9b;
    transition: color .2s ease
}

.privacy-link:hover {
    color: #fff
}

.footer-content-left {
    width: 360px;
    display: inline-block;
    float: left
}

.footer-social-image {
    width: 30px;
    height: 30px;
    padding-right: 15px;
    transition: opacity .3s
}

.footer-social-image:hover {
    opacity: 0.85
}

.footer-content-right {
    width: 450px;
    display: inline-block;
    float: right;
    padding-bottom: 30px;
}

.footer-para {
    width: 100%;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.copyright {
    color: #9b9b9b;
    font-size: 14px
}

.copyright a {
    text-decoration: none
}

#refreshit-subscribe-email {
    color: #ababab;
    padding: 7px 5px 7px 14px;
    border: 1px solid rgba(0,0,0,0.15);
    width: 250px;
    font-size: 18px;
    font-weight: 300;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: none;
    height: 50px;
    box-sizing: border-box;
}

#refreshit-subscribe-email:focus {
    box-shadow: 0 2px 6px rgba(0,0,0,0.1)
}

.btn {
    text-align: center;
    transition-duration: 0;
    transition-property: none;
    background-color: #f84d74;
    border: 0;
    color: #fff;
    border-radius: 3px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    box-shadow: none;
    transition: background .2s
}

.btn:hover {
    background-color: #dd4568;
    border-color: #a1605d;
    color: #fff
}

.btn-block {
    width: 100%;
    font-size: 16px;
    height: 46px;
    line-height: 46px;
    padding: 0;
    font-weight: 900;
    border-radius: 2px;
    letter-spacing: 2px;
    text-transform: uppercase
}

.btn-mini {
    width: 155px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    font-weight: 700;
    font-size: 12px
}

.btn-footer {
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important
}

.btn-footer:focus {
    outline: 0
}

.btn-footer:hover {
    cursor: pointer
}

.email-verifier {
    position: relative
}

.email-error {
    display: none;
    position: absolute;
    color: #ff4141;
    left: 0;
    top: 34px;
    background-color: #fff;
    border: 1px solid #ff4141;
    top: 100%;
    padding: 5px 10px;
    font-size: 12px;
    z-index: 1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    font-style: italic
}

.email-error:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: #ff4141;
    position: absolute;
    top: -16px;
    left: 8px
}

.subscribe-success-container {
    display: none;
    margin-top: -2px
}

.subscribe-done-image {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
    top: 10px;
    margin-right: 7px
}
#subscribe-button{
    position: relative;
    top: -1px;
    height: 50px;
    font-size: 17px;
    font-weight: 300;
    padding: 7px 10px;
}
.footer-social a{
    display: inline-block;
}
