.row{
  display: table;
  width: 100%;
}
.row .cell{
  width: 50%;
  display: table-cell;
  vertical-align: middle;
}

.float-block > *{
  float: left;
}
.fleft{
  float: left;
}
.fright{
  float: right;
}

.text-center{
  text-align: center;
}
.clearfix:before{
  content: " ";
  display: table;
}
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
h1, h2, h3, h4, h5, h6{
  font-weight: 500;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  font-weight: 300;
  text-decoration: none;
}
.btn-primary{
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #f84d74;
  padding: 9px 28px;
}
.btn-primary.large{
  font-size: 18px;
  letter-spacing: 1px;
  padding: 12px 32px;
}
section{
  padding: 60px 0;
}
section h1{
  color: #4a4a4a;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 40px 0;
}
p{
  color: #4a4a4a;
  font-size: 20px;
  font-family: "Source Sans Pro";
  font-weight: 300;
}
p.small{
  color: #4a4a4a;
  font-size: 17px;
  letter-spacing: -0.5px;
}
.pl70{
  padding-left: 70px !important;
}
.pr70{
  padding-right: 70px !important;
}


.sprite-tw-blue
{
background:url('../images/css-sprite-combined.png.png') 0px -14px;
width:20px;height:22px;
}

.sprite-tw-grey
{
background:url('../images/css-sprite-combined.png.png') -20px -14px;
width:20px;height:22px;
}

.sprite-tw-white
{
background:url('../images/css-sprite-combined.png.png') -40px -0px;
width:36px;height:36px;
}

.sprite-fb-blue
{
background:url('../images/css-sprite-combined.png.png') -76px -14px;
width:20px;height:22px;
}

.sprite-fb-grey
{
background:url('../images/css-sprite-combined.png.png') -96px -14px;
width:20px;height:22px;
}

.sprite-fb-white
{
background:url('../images/css-sprite-combined.png.png') -116px -0px;
width:36px;height:36px;
}

.sprite-ln-blue
{
background:url('../images/css-sprite-combined.png.png') -152px -14px;
width:20px;height:22px;
}

.sprite-ln-grey
{
background:url('../images/css-sprite-combined.png.png') -172px -14px;
width:20px;height:22px;
}

.sprite-ln-white
{
background:url('../images/css-sprite-combined.png.png') -192px -0px;
width:36px;height:36px;
}