
  .select-track {
    background-color: #f0f0f0;
    padding: 40px 0;
  }
  
  .select-track .wrap, .track-details .wrap {
    max-width: 960px;
  }
  
  .select-track h3 {
    position: relative;
    color: #4d4d4d;
    font-size: 1.5rem;
    font-family: "Source Sans Pro Bold";
    padding-right: 116px;
    margin: 1px 0 0 0;
  }
  
  ul.tabs li {
    margin-right: 10px;
  }
  
  ul.tabs li a {
    display: block;
    min-width: 160px;
    color: #4d4d4d;
    font-family: "Source Sans Pro Bold";
    font-size: 1rem;
    text-align: center;
    border-radius: 4px;
    /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);*/
    background-color: #fff;
    padding: 6px 28px;
    box-sizing: border-box;
  }

  ul.tabs li:first-child a:not(.active):hover{
    color: #25C16F;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  }
  ul.tabs li:nth-child(2) a:not(.active):hover{
    color: #08C7FB;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  }
  ul.tabs li:nth-child(3) a:not(.active):hover{
    color: #FFA800;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  }
  ul.tabs li:last-child a:not(.active):hover{
    color: #3973E6;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  }
  
  ul.tabs li a.active {
    color: #fff;
    background-color: #f84d74;
  }
  
  .tab-content {
    position: relative;
    display: none;
  }
  
  .tab-content.active {
    display: block;
  }
  
  .track-list * {
    font-family: "Source Sans Pro";
    font-weight: 600;
  }
  
  .track-list {
    margin-bottom: 40px;
  }
  
  .track-list .cell {
    position: relative;
    width: auto;
    vertical-align: top;
    padding: 30px 0;
  }
  
  .track-list .cell:first-child {
    width: 140px;
    text-align: right;
    padding-right: 50px;
  }
  
  .track-list .cell:last-child {
    padding-left: 50px;
  }
  
  .track-list h4 {
    color: #4d4d4d;
    font-family: 'Source Sans Pro Bold';
    font-size: 1.5rem;
    margin: 0;
  }
  
  .track-list time {
    display: inline-block;
    color: #4d4d4d;
    font-size: 1.125rem;
    white-space: nowrap;
    margin-top: 3px;
  }
  
  .track-list h6 {
    color: #4a4a4a;
    font-size: 1.5rem;
    margin: 0;
  }
  
  .track-list h6.muted {
    font-weight: normal;
    opacity: 0.6;
  }
  
  .track-list p {
    font-size: 1.125rem;
    font-weight: 300;
    max-height: 66px;
    overflow: hidden;
    margin: 0;
  }
  .track-list p.view-full{
    max-height: 100%;
    overflow: visible;
  }
  
  .track-list .label {
    display: inline-block;
    color: #4a4a4a;
    font-size: 12px;
    font-family: "Source Sans Pro Bold";
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-radius: 2px;
    padding: 0px 12px;
  }
  
  .track-list .label.blue {
    background-color: rgb(176, 216, 234, 0.5);
    border: solid 1px rgb(123, 155, 169, 0.5);
  }
  
  .track-list .label.green {
    background-color: rgb(145, 237, 154, 0.5);
    border: solid 1px rgb(79, 199, 92, 0.5);
  }
  
  .track-list .label.yellow {
    background-color: rgb(234, 225, 176, 0.5);
    border: solid 1px rgb(169, 168, 123, 0.5);
  }
  
  .track-list .label.red {
    background-color: rgb(255, 181, 181, 0.5);
    border: solid 1px rgb(194, 106, 106, 0.5);
  }
  
  .circle {
    position: absolute;
    top: 42px;
    left: 0;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 1px #7b7b7b;
    background-color: #fff;
    box-sizing: border-box;
    margin-left: -5px;
    z-index: 1;
  }
  
  .circle.fill {
    top: 38px;
    width: 25px;
    height: 25px;
    border: none;
    background-color: #9a9a9a;
    margin-left: -10px;
  }
  
  .line:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    position: absolute;
    left: 2px;
    top: 45px;
    border-left: solid 1px #bbbbbb;
  }
  
  .line:after {
    border-left: solid 1px #E6E7E8;
  }
  
  .dotted:after {
    border-left: dashed 1px #bbbbbb;
  }

  .tab-content>.circle {
    top: -128px;
    left: 190px;
  }
  
  .tab-content>.line:after {
    top: -110px;
    left: 192px;
    height: 150px;
  }



  
.hider{
    display:none !important;
}

img
{
	vertical-align: middle;
}
.img-responsive
{
	display: block;
	height: auto;
	max-width: 100%;
}
.img-rounded
{
	border-radius: 3px;
}
.img-thumbnail
{
	background-color: #fff;
	border: 1px solid #ededf0;
	border-radius: 3px;
	display: inline-block;
	height: auto;
	line-height: 1.428571429;
	max-width: 100%;
	moz-transition: all .2s ease-in-out;
	o-transition: all .2s ease-in-out;
	padding: 2px;
	transition: all .2s ease-in-out;
	webkit-transition: all .2s ease-in-out;
}
.img-circle
{
	border-radius: 50%;
}
.timeline-centered {
    position: relative;
    margin-bottom: 30px;
}

    .timeline-centered:before, .timeline-centered:after {
        content: " ";
        display: table;
    }

    .timeline-centered:after {
        clear: both;
    }

    .timeline-centered:before, .timeline-centered:after {
        content: " ";
        display: table;
    }

    .timeline-centered:after {
        clear: both;
    }

    .timeline-centered:before {
        content: '';
        position: absolute;
        display: block;
        width: 1px;
        background: #bbbbbb;
        left: 50%;  
        top: 20px;
        bottom: 20px;
        margin-left: -4px;
    }

    .timeline-centered .timeline-entry {
        position: relative;
        width: 50%;
        float: right;
        margin-bottom: 70px;
        clear: both;
    }

        .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
            content: " ";
            display: table;
        }

        .timeline-centered .timeline-entry:after {
            clear: both;
        }

        .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
            content: " ";
            display: table;
        }

        .timeline-centered .timeline-entry:after {
            clear: both;
        }

        .timeline-centered .timeline-entry.begin {
            margin-bottom: 0;
        }

        .timeline-centered .timeline-entry.left-aligned {
            float: left;
        }

            .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
                margin-left: 0;
                margin-right: -18px;
            }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
                    left: auto;
                    right: -100px;
                    text-align: left;
                }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
                    float: right;
                }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
                    margin-left: 0;
                    margin-right: 70px;
                }

                    .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
                        left: auto;
                        right: 0;
                        margin-left: 0;
                        margin-right: -9px;
                        -moz-transform: rotate(180deg);
                        -o-transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }

        .timeline-centered .timeline-entry .timeline-entry-inner {
            position: relative;
            margin-left: -22px;
        }

            .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
                content: " ";
                display: table;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:after {
                clear: both;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
                content: " ";
                display: table;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:after {
                clear: both;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
                position: absolute;
                left: -100px;
                text-align: right;
                padding: 10px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
                    display: block;
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
                        font-size: 15px;
                        font-weight: bold;
                    }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
                        font-size: 12px;
                    }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
                background: #fff;
                color: #737881;
                display: block;
                width: 15px;
                height: 15px;
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
                text-align: center;
                /* -moz-box-shadow: 0 0 0 5px #f5f5f6;
                -webkit-box-shadow: 0 0 0 5px #f5f5f6; */
                /* box-shadow: 0 0 0 5px #f5f5f6; */
                line-height: 40px;
                font-size: 15px;
                float: left;
                margin-left: 11px;
                margin-top: 11px            }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
                    background-color: #303641;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
                    background-color: #ee4749;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
                    /* background-color: #00a651;
                    color: #fff; */
                    border: solid 1px #7b7b7b;
                    background-color: #fff;

                }
                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
                 
                border: #9a9a9a 1px solid;
                background: #9a9a9a;
            

                }

                 
                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
                    background-color: #fad839;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger {
                    background-color: #cc2424;
                    color: #fff;
                }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
               

    
                position: relative;
               /* background: #f5f5f6;*/
               /* padding: 1.7em;*/
                margin-left: 70px;
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                line-height: 39px;
            }

            .timeline-label p{
                color: #4d4d4d !important;
                font-family: 'Source Sans Pro Bold';
                font-size: 1.5rem;
                margin: 0;
               /* font-family: "Source Sans Pro";*/
    font-weight: 600 !important;
            }



                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
                   /* content: '';*/
                    display: block;
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 9px 9px 9px 0;
                    border-color: transparent #f5f5f6 transparent transparent;
                    left: 0;
                    top: 10px;
                    margin-left: -9px;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
                    color: #737881;
                    font-family: "Noto Sans",sans-serif;
                    font-size: 12px;
                    margin: 0;
                    line-height: 1.428571429;
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
                        margin-top: 15px;
                    }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
                    font-size: 16px;
                    margin-bottom: 10px;
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
                        color: #303641;
                    }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
                        -webkit-opacity: .6;
                        -moz-opacity: .6;
                        opacity: .6;
                        -ms-filter: alpha(opacity=60);
                        filter: alpha(opacity=60);
                    }

                    .timebutton{
                        line-height: normal;
                        text-align: center;
                        font-weight: bold;
                        display: inline-block;
                        padding: 0px 12px;
                        position: relative;
                    
                    }
                    .timebutton-red{
                        background-color: rgb(255, 181, 181, 0.5);
                        border: solid 1px rgb(194, 106, 106, 0.5);
                    }

                    .timebutton-green{
                        background-color: rgb(145, 237, 154, 0.5);
                        border: solid 1px rgb(79, 199, 92, 0.5);
                    }
                    .timebutton-blue{
                        background-color: rgb(176, 216, 234, 0.5);
                        border: solid 1px rgb(123, 155, 169, 0.5);
                    }

                    .timebutton-brown{
                        background-color: rgb(234, 225, 176, 0.5);
                        border: solid 1px rgb(169, 168, 123, 0.5);
                    }


                   


                    
                    .timelinecontainer h5{
                        color: #4a4a4a;
                        font-size: 1.5rem;
                        margin: 0;
                        font-family: "Source Sans Pro";
                        font-weight: 600;
                    }
                    .timelinecontainer .extrabold{
                        color: #4d4d4d;
                        font-family: 'Source Sans Pro Bold';
                        font-size: 1.5rem !important;
                    }
                    .timelinecontainer p{
                        color: #4a4a4a;
                        font-size: 1.125rem;
                        font-weight: 300;
                        margin: 0;
                        font-family: "Source Sans Pro";
                    }
                    .timelinecontainer chunk{
                        font-size: 1.125rem;
                        font-weight: 300;
                        margin: 0;
                        color: #4a4a4a;
                        font-family: "Source Sans Pro";


                    }
                    .timelinecontainer .lite{
                        opacity: 0.6;

                    }

                    .timer-panel{
                        width:81% !important;
                    }
                    .timeline-entry-inner{

                        width: 130% !important;
                    }
                   .readmore{
                       color:red !important;
                       cursor:pointer;

                   }

p.speaker-label {
    font-weight: 100;
    font-style: italic;
}


                   
   
    
   