
section h1 {
  font-size: 2.575rem;
  text-align: center;
  border-bottom: 1.5px solid #f84d74;
  display: inline-block;
  padding: 0;
  width:90%;
}
section {
  padding: 8px 0;
}
.ready h1 {
  border: none;
}
.faq {
  padding: 10px 0;
}
.set {
  margin: 10px 0;
}

section h3 {
/*  color:#666666;*/
  color: #4d4d4d;
  /* font-size: 1.175rem; */
  font-size: 18px;
  font-weight: 600;
  font-family: "Source Sans Pro";	
  /* font-size: 16px; */
}


.set p{
color:#666666; 
font-size:16px;
}



.faq a {
  font-size: 1.25rem;
  color: #f84d74;
  font-family: "Source Sans Pro";
}
b {
  font-size: 1rem;
}

  @media screen and (max-width: 767px) {
    .footer-content-right {
        padding-bottom: 0;
        margin-left: -65px;
    }
    .accordion{
      width: 90% !important;
    }
  }


  .accordion {
    background-color:white !important;
    /* color: #444; */
    cursor: pointer;
    padding: 18px;
    width: 97%;
    border: none;
    text-align: left;
    /* outline: none; */
    font-size: 15px;
    transition: 0.4s;

    /* height: 20px;	
    width: 354px;	 */
    color: #4D4D4D;	
    font-family: Poppins;	
    font-size: 24px;
    	font-weight: 500;
}

.active, .accordion:hover {
    /*background-color: #ccc;*/ 
    background-color:#F5F5F5; 
}

.panel {  
    display: none;
   
    overflow: hidden;
    width: 97%;
    background-color: rgba(202,202,202,0.1);
    padding: 10px 30px;
}
.initopen{
  display: block;

}

.accordion:after {
    content: '+'; /* Unicode character for "plus" sign (+) */
    font-size: 18px;
    color:rgb(255, 143, 157)!important;
    float: right;
    margin-left: 5px;
    font-weight: bold;
}

.active:after {
    color:rgb(255, 143, 157)!important;
    content: "-"; /* Unicode character for "minus" sign (-) */
}

.iconbg{
  color:rgb(255, 143, 157)!important;
}
section.location {
  padding-bottom: 8%;
}

.general
{padding-top: 4%;

}    
.faq-section{
  display: flex;
  justify-content: center;
}