body {
  font-weight: 300;
  line-height: 1.7;
  background-color: #fff;
  margin: 0;
  box-sizing: border-box;
  padding-top: 60px;
}

* {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url("../fonts/SourceSansPro-Bold.otf") format("opentype");
}

dheader li a:hover, 
header li a:hover {
  color: #f84d74;
}
dheader .btn-primary{
  margin-left: 2rem;
}

.wrap {
  margin: 0 auto;
}

.wrap .logo-wrapper {
  flex: 1;
  display: flex;
}

.right-nav {
  display: flex;
  align-items: center;
}

dheader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #131735;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem 0;
  z-index: 100;
}

dheader .wrap {
  display: flex;
  padding: 0 1rem;
}

dheader nav a {
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 0.8px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0 10px;
  margin-left: 1rem;
  transition: color 0.2s;
}

dheader nav ul li {
  position: relative;
  /* margin-left: 50px; */
  margin: 0 0.5rem;
}

dheader nav ul li:hover ul {
  display: block;
  z-index: 10;
}

dheader nav ul li ul {
  position: absolute;
	top: 5%;
	left: -20%;
  width: 150px;
  border-radius: 3px;
  background-color: #131735;
  margin-top: 27px;
  padding: 10px 0;
  display: none;
  z-index: -1;
  transition: opacity 0.3s;
}

dheader nav ul li ul:before {
  content: '';
  display: inline-block;
  border: 6px solid;
  position: absolute;
  left: 47%;
  top: -12px;
  border-color: transparent transparent #131735 transparent;
}

dheader nav ul li ul li {
  margin: 0;
}

dheader nav ul li ul a {
  display: block;
  text-transform: none;
  padding: 3px 0;
  transition: color 0.3s;
}

dheader nav a.active,
dheader nav ul li ul a:hover {
  color: #f84d74;
}

dheader nav ul li ul:hover {
	display: block;
  z-index: 10;
}

.logo{
  position: relative;
	display: block;
	width: 200px;
	height: 40px;
	background: url(../images/logo.svg);
	background-size: contain;
	background-repeat: no-repeat;
}

.refresh-img {
		width: 280px;
		height: 70px;
    background: url(../images/refresh-logo.png);
    background-size: cover;
    margin: 0 auto;
}

.freshworks-logo {
	display: block;
	width: 150px;
  height: 50px;
  background: url(../images/freshworks-logo.png);
  background-size: cover;
  margin: 0 auto -10px auto;
}

.freshworks-logo, .intro .presents {
  position: relative;
  top: 10px;
}

.intro {
  color: #fff;
  height: 520px;
  background: url(../images/bg-img.jpg);
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro .presents {
  font-family: "Source Sans Pro";
  letter-spacing: 0.5px;
  opacity: 0.5;
}

.intro h5 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2.5px;
  margin: 30px 0;
}
.intro h5 span:before{
  content: '| ';
}

.intro h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 100;
  margin: 20px 0 30px 0;
}

.about h1 {
  padding-bottom: 10px;
}

.about .wrap {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
}

.about, .ready {
  background-color: #f9f9f9;
}

.why-attend .cell {
  padding: 50px 0;
}

.why-attend{
  padding: 0;
}
.why-attend p {
  color: #666666;
  font-size: 1.25rem;
}

.grid-block{
  height: 345px;
  width: 25%;
  background-color: #131735;
  overflow: hidden;
}
.grid-block h2{
  position: relative;
  color: #fff;
  font-size: 40px;
  line-height: 48px;
  padding: 30px;
  margin: 0;
}
.grid-block h2:after{
  content: '';
  display: block;
  height: 1px;
  width: 91px;
  border-bottom: 3px solid #FC5B6C;
  margin-top: 20px;
}
.why-attend .float-block:last-child h2:after{
  border-bottom: 3px solid #25C8F9;
}
.grid-block img{
  width: 100%;
}
.view-all-speakers a{
  display: inline-block;
  line-height: 27px;
  margin-top: 20px;
}

.convince {
  position: relative;
	background: url(../images/convince.png) no-repeat left center #131735;
	background-size: 100% auto;
  padding: 25px 0;
  overflow: hidden;
}


.convince h3 {
  color: #fff;
  font-size: 1.45rem;
}

.convince a {
  color: #25c8f9;
  text-decoration: underline;
}

.speakers-list {
  max-width: 960px;
  padding-top: 30px;
  margin: 0 auto;
}

.speakers-list>li {
  width: 240px;
  height: 388px;
  border-radius: 3px;
  border: 1px solid #EBEBEB;
  box-shadow: none;
  background-color: #ffffff;  
  padding: 10px;
  margin-right: 80px;
  transition: box-shadow 0.2s;
  margin-bottom: 20px;
}
.speakers-list > li:hover{
  border-color: transparent;
  box-shadow: 0 2px 7px 2px rgba(0,0,0,0.07);
}

.speakers-list li:last-child {
  margin-right: 0;
}

.speakers-list li .photo {
  width: 242px;
  height: 242px;
  margin-bottom: 10px;
}

.speakers-list li .photo img {
  width: 100%;
}

.speakers-list li h5 {
  color: #333;
  font-size: 1.25rem;
	font-weight: 500;
  margin: 0;
}

.speakers-list li p {
  color: #666;
  font-size: 1rem;
  letter-spacing: -0.4px;
  margin: 0;
}

.speakers-list li a {
  color: #f84d74;
  font-size: 0.875rem;
}

.speakers-list li .social-link {
  margin-top: 20px;
}

.social-link li {
  margin-right: 10px;
}

.social-link li a {
  display: inline-block;
}

.venue {
  padding-bottom: 0;
}

.map-container {
  height: 430px;
  background: url(../images/map-bg.jpg) no-repeat;
  background-size: cover;
}
.map-container .row{
  height: 100%;
}
.map-info {
  display: table;
  border-radius: 3px;
  background-color: #FFF;
  box-shadow: 0 2px 5px 1px rgba(128,128,128,0.5);
  padding: 30px 50px;
  margin: 0 auto;
}
.map-info h4 {
  color: #333333;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.54px;
  line-height: 24px;
  margin: 0;
}
.map-info p {
  color: #4D4D4D;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.42px;
  line-height: 28px;
  margin: 10px 0 25px 0;
}
.btn-primary.transparent{
  color: #FC5B6C;
  letter-spacing: 0.7px;
  border-radius: 3px;
  border: 1px solid #FC5B6C;
  background-color: #fff;
  padding: 8px 28px;
  transition: background 0.2s;
}
.btn-primary.transparent:hover{
  background-color: rgba(252, 91, 108, 0.05);
}

.ready {
  padding: 80px 0;
}

.ready h1 {
  max-width: 800px;
  line-height: 1.4;
  text-transform: none;
  padding-bottom: 0;
  margin: 0 auto;
}

.ready p {
  font-size: 1.25rem;
  margin-bottom: 50px;
}
.ready .btn-primary {
	margin-left: 0;
}

dheader .dropdown-nav {
	display: none;
	color: #ffffff;
	/* display: none; */
	padding: 0 15px;
	border-top: 0.5px solid #8c8b8b;
	margin-top: 10px;
}

.nav-toggle {
  display: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  text-indent: -300px;
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 55px;
  float: right;
}

.nav-toggle:before {
  color: #fff;
  font: normal 28px/55px "responsivenav";
  text-transform: none;
  text-align: center;
  position: absolute;
  content: "\2261";
  text-indent: 0;
  speak: none;
  width: 100%;
  left: 0;
  top: 0;
}
.agenda-bg {
  height: 380px;
  background: url(../images/bg-img.jpg) center center;
  background-size: cover;
  padding: 0;
}

.agenda-bg h2 {
  display: inline-block;
  color: #fff;
  font-size: 2.5rem;
  border-radius: 62px;
  margin: 180px auto 0 auto;
  padding: 9px 44px;
}

.agenda-note {
  padding: 10px 0 10px 16%;
  font-size: 0.875rem;
  text-align: left;
  font-style: italic;
}
#agenda-tabs ul, #agenda-tabs li {
	margin-top: 0;
	margin-bottom: 0;
}
.navToSelect {
	display: none;
}


/* Jpanel */

header {
	display: none;
	width: 100vw;
	top: 0;
}

#trigger {
	padding: 5px;
	cursor: pointer;
  background-color: #131735;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
	height: 3rem;

	display: flex;
	align-items: center;
 }

 #trigger .logo-wrapper {
	 flex: 1;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 margin-left: -1rem;
}
#jPanelMenu-menu {
	background-color: #131735;
	color: #fff;
	padding-top: 2rem;
	top: 20px !important;
}

#jPanelMenu-menu li {
	font-size: 1rem;
  border-bottom: 0.5px solid rgba(252, 91, 108, 0.6);
}

#jPanelMenu-menu li a {
  display: block;
	font-weight: 400;
  text-transform: uppercase;
	color: #fff;
  padding: 12px 15px;
}

#jPanelMenu-menu li a:hover {
	color: #f84d74;
}

/* Adjusting sizes */

body {
	padding: 0;
}

.icon {
  font-size: 1.25rem;
  color: #ffffff;
	padding: 10px 15px;
}

/* Style for register now button */

.fixed-button-wrapper {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 11111111111;
	height: 4rem;
	width: 100%;
	background: #f84d74;
	color: #fff;
	font-size: 1.25rem;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
}


/* Content grid */

.content-grid {
	margin: 0 auto;
	width: calc(100% - 5rem); // mobile
}
/* font definitions */

html {
	font-size: 12px;
}

/* Sticky header style */

.stay-on-top {
	position: fixed;
	z-index: 99999999999999;
}
